@font-face {
  font-family: "OpenSans";
  src: url("OpenSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  src: url("Raleway-VariableFont_wght.ttf") format("truetype");
}
html,
body {
  margin: 0;
  padding: 30px;
  font-size: 14px;
  font-family: "OpenSans", "Raleway", sans-serif;
  color: black;
  background-color: #eee;
}

.canvas {
  border: 5px solid #333;
  background-color: white;
}
.font-example {
  font-family: "Raleway", sans-serif;
  visibility: hidden;
}
